* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.chartCard {
  width: 100vw;
  height: 100vh;
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}